<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/reset.css">
</head>
<body bgcolor="#8f84d0">
    <header class="header">
        <div class="logo">
            <a href="index.html">
                <img src="../static/img/M.png">
            </a>
        </div>
        <nav class="nav">
            <ul class="list">
                <li class="item">
                    <button class="nav_button"><a href="index.html" class="nav_link">Главная</a></button>
                </li>
                <li class="item">
                    <button class="nav_button"><a href="portfolio.html" class="nav_link">Портфолио</a></button>
                </li>
                <li class="item">
                    <button class="nav_button"><a href="price.html" class="nav_link">Цены</a></button>
                </li>
                <li class="item">
                    <button style="text-align: left; padding-left: 20px; background-color: #35266f;" class="nav_button"><a href="article.html" class="nav_link">Полезные статьи</a></button>
                </li>
                <li class="item">
                    <button class="nav_button"><a href="contact.html" class="nav_link">Контакты</a></button>
                </li>
            </ul>
        </nav>
    </header>
    <main class="main_article">
        <div class="article_img">
            <div class="article_txt">
                <img src="../static/img/article1.jpg" class="for_img_article"><div class="b"> <div class="text_article"> Нет, вам не показалось!</div> <br>
                Приближается лето! В новом креативном дайджесте — всё, чтобы наполниться силами и энергией в ожидании самого тёплого сезона. Яркие и насыщенные проекты с юмором и иронией. А ещё вы наконец узнаете, кто создал «жопку»
            </div>
            </div>
            <hr align="center" width="100%" size="1" color="#ffffff" />
            <div class="article_txt">
                <img src="../static/img/article2.jpg" class="for_img_article"><div class="b"> <div class="text_article">Цветы в вазе, любовь в воздухе, креатив в рассылке</div> <br>
                Соскучились по нашим креативным дайджестам? Бегите сюда, мы приберегли для вас кое-что интересное. В новой подборке — несколько классных кейсов для развития насмотренности и бонус в виде списка самых интересных рекламных кампаний на День Святого Валентина, если вы от него ещё не отошли
            </div>
            </div>
            <hr align="center" width="100%" size="1" color="#ffffff" />
            <div class="article_txt">
                <img src="../static/img/article3.jpg" class="for_img_article"><div class="b"> <div class="text_article">M-commerce is the new black</div><br>
                Анна Луканина, управляющий партнёр Depot и президент АБКР, выступила модератором и спикером на международном бизнес-форуме Confex в сессии «Брендинг и упаковка кондитерских изделий»
            </div>
        </div>
        </div>
    </main>
</body>
</html>



