<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/reset.css">
</head>
<body bgcolor="#8f84d0">
    <header class="header">
        <div class="logo">
            <a href="index.html">
                <img src="../img/M.png">
            </a>
        </div>
        <nav class="nav">
            <ul class="list">
                <li class="item">
                    <button class="nav_button" ><a href="index.html" class="nav_link">Главная</a></button>
                </li>
                <li class="item">
                    <button class="nav_button"><a href="portfolio.html" class="nav_link">Портфолио</a></button>
                </li>
                <li class="item">
                    <button class="nav_button"><a href="price.html" class="nav_link">Цены</a></button>
                </li>
                <li class="item">
                    <button style="text-align: left; padding-left: 20px;" class="nav_button"><a href="article.html" class="nav_link">Полезные статьи</a></button>
                </li>
                <li class="item">
                    <button class="nav_button" style="background-color: #35266f;"><a href="contact.html" class="nav_link">Контакты</a></button>
                </li>
            </ul>
        </nav>
    </header>
    <main class="main_contact">
        <div class="contact">
            <div class="phone1">Телефон</div>
            <div class="phone2">+7 (914) 846-14-57</div>
            <div class="phone1">Адрес офиса</div>
            <div class="phone2">Ипподромный 1к1</div>
            <div class="phone1">Режим работы</div>
            <div class="phone2">10:00 - 19:00 Пн/Пт</div>
            <div class="phone1">Эл.почта</div>
            <div class="phone2">media@mail.ru</div>
            <button class="contact_button" ><a href="form.html" class="contact_link">Написать нам</a></button>
        </div>

        <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1994.8927885586018!2d30.304281177624922!3d60.00027147494626!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4696340dac8fffff:0x35caa0ef5d12c297!2z0JjQv9C_0L7QtNGA0L7QvNC90YvQuSDQv9C10YAuLCAxINC6MSwg0KHQsNC90LrRgi3Qn9C10YLQtdGA0LHRg9GA0LMsIDE5NzM0OA!5e0!3m2!1sru!2sru!4v1716274999840!5m2!1sru!2sru" width="803" height="673" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </main>