<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/reset.css">
</head>
<body bgcolor="#8f84d0">
    <header class="header">
        <div class="logo">
            <a href="index.html">
                <img src="../img/M.png">
            </a>
        </div>
        <nav class="nav">
            <ul class="list">
                <li class="item">
                    <button class="nav_button" ><a href="index.html" class="nav_link">Главная</a></button>
                </li>
                <li class="item">
                    <button class="nav_button"><a href="portfolio.html" class="nav_link">Портфолио</a></button>
                </li>
                <li class="item">
                    <button class="nav_button"><a href="price.html" class="nav_link">Цены</a></button>
                </li>
                <li class="item">
                    <button style="text-align: left; padding-left: 20px;" class="nav_button"><a href="article.html" class="nav_link">Полезные статьи</a></button>
                </li>
                <li class="item">
                    <button class="nav_button" style="background-color: #35266f;"><a href="contact.html" class="nav_link">Контакты</a></button>
                </li>
            </ul>
        </nav>
    </header>
    <main class="form">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdo4UMtzaXx5_UR1O0-tEnfCIZ2Zx7BaborG-1mzvt77czncQ/viewform?embedded=true" width="1280" height="761" frameborder="0" marginheight="0" marginwidth="0">Загрузка…</iframe>