<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/reset.css">
</head>
<body bgcolor="#8f84d0">
    <header class="header">
        <div class="logo">
            <a href="index.html">
                <img src="../img/M.png">
            </a>
        </div>
        <nav class="nav">
            <ul class="list">
                <li class="item">
                    <button class="nav_button"><a href="index.html" class="nav_link">Главная</a></button>
                </li>
                <li class="item">
                    <button class="nav_button"><a href="portfolio.html" class="nav_link">Портфолио</a></button>
                </li>
                <li class="item">
                    <button class="nav_button" style="background-color: #35266f;"><a href="price.html" class="nav_link">Цены</a></button>
                </li>
                <li class="item">
                    <button style="text-align: left; padding-left: 20px;" class="nav_button"><a href="article.html" class="nav_link">Полезные статьи</a></button>
                </li>
                <li class="item">
                    <button class="nav_button"><a href="contact.html" class="nav_link">Контакты</a></button>
                </li>
            </ul>
        </nav>
    </header>
    <main class="main_price">
        <table class="table">
            <tr class="tr">
            <th class="th">Услуга</td>
            <th class="th">Описание</td>
            <th class="th">Установочные сроки</td>
            <th class="th">Установочная стоимость (без НДС)</td>
            </tr>
            <tr class="tr">
            <td class="td">Кабинетное исследование. Разработка позиционирования и платформы бренда.</td>
            <td class="td">Структура аналитического отчета: обзор рынка, трендов в категории и основных игроков рынка, сегментация целевой аудитории бренда, потребительский инсайт. Платформа бренда включает в себя: ключевой инсайт, атрибуты бренда / продукта, преимущества бренда (рациональные / эмоциональные), ценности и характер бренда, суть бренда</td>
            <td class="td">4 недели </td>
            <td class="td">от 1 200 000 руб. </td>
            </tr>
            <tr class="tr">
            <td class="td">Фирменный стиль и логотип</td>
            <td class="td"> от 2 вариантов фирменного стиля и логотипа бренда, проверка 1 варианта логотипа и финализация выбранной концепции по комментариям клиента</td>
            <td class="td">5 недель</td>
            <td class="td">от 1 200 000 руб.</td>
            </tr>
            
            <tr class="tr">
            <td class="td">Диджитал дизайн</td>
            <td class="td">Разработка дизайна цифровых продуктов</td>
            <td class="td">4 недели </td>
            <td class="td">от 1 000 000 руб.</td>
            </tr>
            <tr class="tr">
            <td class="td">Легенда бренда</td>
            <td class="td">2 варианта легенды бренда. Легенда - это короткий художественный текст (объемом до 2000 знаков), позволяющий в интересной форме донести до потребителя основные преимущества продукта.</td>
            <td class="td">4 недели </td>
            <td class="td">от 1 000 000 руб.</td>
            </tr>
            <tr class="tr">
            <td class="td">Дизайн упаковки (этикетки).</td>
            <td class="td">от 3 вариантов дизайна упаковки (этикетки) и логотипа торговой марки, проверка выбранного логотипа, финализация выбранной концепции по комментариям клиента</td>
            <td class="td">4 недели </td>
            <td class="td">от 850 000 руб.</td>
            </tr>
            <tr class="tr">
            <td class="td">Брендбук</td>
            <td class="td">Правила и рекомендации по использованию фирменного стиля бренда</td>
            <td class="td">2 недели </td>
            <td class="td">от 400 000 руб.</td>
            </tr>
            </table>
            <pre class="orelega">
Указана ориентировочная стоимость и сроки работ.
После обсуждения задач будет подготовлено индивидуальное предложение с учетом особенностей именно вашего проекта.
Не является публичной офертой.
            </pre>

            